*{
    margin: 0;
    padding: 0;
}

.container-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.container-login form{
    display: flex;
    flex-direction: column;
    
}